/* Select the image with a class of kitty-1 */
.kitty-1 {
  position: absolute;
  top: 276px;
  left: 129px;
  z-index: 11;
}

/* Select the image with id of kitty-2 */
#kitty-2 {
  position: absolute;
  top: 212px;
  left: 369px;
  z-index: 11;
}

/* Select the image inside the element with an id of basket */
#basket img {
  position: absolute;
  top: 291px;
  left: 319px;
  z-index: 11;
}

/* Select the image that follows immediately after the element with an id of ball */
#ball + img {
  position: absolute;
  top: 260px;
  left: 455px;
  z-index: 11;
}

/* Select the image with an alt attribute of "Kitty 5" */
img[alt="Kitty 5"] {
  position: absolute;
  top: 217px;
  left: 223px;
  z-index: 11;
}